/* Misc Header */
.info-1VyQPT:after {
  background: transparent;
  content: 'Misc Settings';
  position: absolute;
  font-size: 12px;
  font-weight: 800;
  top: 38px;
  color: var(--channels-default);
  text-transform: uppercase;
}

/* Reorder */
.sidebar-CFHs9e [data-item-id="HypesquadOnline"] {order: -4;}
.sidebar-CFHs9e [data-item-id="DeveloperOptions"] {order: -3;}
.sidebar-CFHs9e [data-item-id="Experiments"] {order: -2;}
.sidebar-CFHs9e [data-item-id="changelog"] {order: -1;}

/* Spacing */
.side-8zPYf6 .separator-gCa7yv {display: none !important;}
.sidebar-CFHs9e [data-item-id="changelog"] {margin-bottom: 16px;}
.sidebar-CFHs9e [data-item-id="Connections"] {margin-bottom: 16px;}
.sidebar-CFHs9e [data-item-id="Billing"] {margin-bottom: 16px;}
.sidebar-CFHs9e [data-item-id="Advanced"] {margin-bottom: 16px;}
.sidebar-CFHs9e [data-item-id="Overlay"] {margin-bottom: 16px;}

.sidebar-CFHs9e [data-item-id="pc-updater"] {
  margin-bottom: 50px !important;
}

/* Plugin Header*/
.info-1VyQPT:before {
  background: transparent;
  content: 'Plugins';
  position: absolute;
  font-size: 12px;
  font-weight: 800;
  width: 100%;
  top: 1240px;
  color: var(--channels-default);
  text-transform: uppercase;
}

/* Spacing */
.side-8zPYf6 [data-item-id="logout"] {
margin-top: 20px;
margin-bottom: 20px;
}


/* Info */
.info-1VyQPT .size12-3cLvbJ {
  user-select: none;
}

/* Info Header*/
.info-1VyQPT .size12-3cLvbJ:first-child::before {
  content: 'Info \a';
  text-transform: none;
  white-space: pre;
  user-select: none;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--channels-default);
  font-weight: 800;
  position: relative;
  bottom: 8px;
}

/* Info Header*/
.socialLinks-3jqNFy {
  margin-top: 10px;
order: 1;
}
